<%= bootstrap_form_for @listing do |f| %>
  <div class="form-group">
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.text_area :location %>
  </div>
  <div class="form-group">
    <%= f.text_area :description %>
  </div>

  <%= f.submit class: "btn btn-success" %>
<% end %>
